
table{
  border: 1px solid #000;
  padding: 2px;
  align-items: center;
  border-color: #BDBDBD;
  width: 666px;
  
}

th, td {
  text-align: center;
  border: 1px solid #000;
  padding: 4px;
  border-color: #BDBDBD;
  color: #E6E6E6;
}

#botonBuscar {
  width: 100px;
  height: 45px;
  background: #0174DF;
  border-radius: 8px;
  color: aliceblue;

}

#scroll{
  border:1px solid;
  height:155px;
  width:350px;
  margin: 10px 140px 1px 140px;
  text-align: center;
  overflow-y:scroll;
  overflow-x:hidden;
}


#scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar-thumb
{
	background-color: rgb(28, 28, 29,0.6);
	border-radius: 10px;

}



.titulos{
  color: #E6E6E6;
}

#TituloPagina{
  color: white;
}

#Subtitulo{
  color: #E6E6E6;
}

img{
width: 100px;
height: 150px;
}
body {
  text-align: center;
  background-color: #555E6B;
} 

#container {
  margin-top: 4.0em;
  background-color: #424448;
}

#resultados{
  background-color: #424448;
}

.btn-borde {
  width: 110px;
  padding: .375rem .75rem;
  border: 1px solid #007bff;
  border-radius: .25rem;
  color: #007bff;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
}

.btn-borde:hover, .btn-borde:active, .btn-borde:focus {
  color: #fff;
  background-color: #007bff;
}

.overlay {  
background: rgba(0,0,0,.3);
position: fixed; 
top: 0;
bottom: 0;
left: 0;
right: 0;
display: flex;
align-items: center;
justify-content: center;
 visibility: hidden;   
}
.overlay.active {
visibility: visible;
}


.popup {
background-color:rgb(128, 128, 129,0.8);
/* background: #f8f8f8; */
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
border-radius: 3px;
font-family: 'Montserrat', sans-serif;
padding: 20px;
text-align: center;
width: 630px;
height: 430px;
transition: .4s ease all;
transform: scale(0.7);
opacity: 0;
}

.popup .btn-cerrar-popup {
font-size: 16px;
line-height: 16px;
display: block;
text-align: right;
transition: .3s ease all;
color: #BBBBBB;

}

.popup .btn-cerrar-popup:hover {
color: #000;
} 

.popup h1 {
font-size: 20px;
font-weight: 600;
margin-bottom: 10px;
opacity: 0;

}
.popup h3 {
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

p { display:inline; }

p{
  opacity: 0;
  
}

.titulosDetalles{
  color: #424242;
}


.popup.active {opacity: 1; transform: scale(1);}
.popup.active h1 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h3 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active p { animation: entradaSubtitulo .8s ease .5s forwards; }

@keyframes entradaTitulo {
from {
  opacity: 0;
  transform: translateY(-25px);
}

to {
  transform: translateY(0);
  opacity: 1;
}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}